<div class="container">
  <nav class="nav justify-content-center">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/contentType" routerLinkActive="active">Content Type</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/keywordsGroup" routerLinkActive="active">Keywords Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userProfile" routerLinkActive="active">User Profile</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
